{% extends 'base2.html' %}
{% load bootstrap4 %}
{% block body %}
	<section>
			<div id="page-wrapper" class="sign-in-wrapper">
				<div class="graphs">
					<div class="sign-in-form">
						<div class="sign-in-form-top">
							<h1>Your password has been changed successfully, login from here </h1>
						</div>
					</div>
				</div>
			</div>
		<!--footer section start-->
			<footer class="diff">
			   <p class="text-center">&copy 2021 5 Cent Store. All Rights Reserved | Design by <a href="" target="_blank">Rinku & Vikrant</a></p>
			</footer>
        <!--footer section end-->
	</section>
{% endblock body %}